
<div *ngIf="vsBodyTemperature">
    <h2><span jhiTranslate="hcPortalApp.vsBodyTemperature.detail.title">Vs Body Temperature</span> {{vsBodyTemperature.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hcPortalApp.vsBodyTemperature.userid">Userid</span></dt>
        <dd>
            <span>{{vsBodyTemperature.userid}}</span>
        </dd>
        <dt><span jhiTranslate="hcPortalApp.vsBodyTemperature.celsius">Celsius</span></dt>
        <dd>
            <span>{{vsBodyTemperature.celsius}}</span>
        </dd>
        <dt><span jhiTranslate="hcPortalApp.vsBodyTemperature.measurmentdate">Measurmentdate</span></dt>
        <dd>
            <span>{{vsBodyTemperature.measurmentdate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'vs-body-temperature/'+ vsBodyTemperature.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
