<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myVsRespiratoryRateLabel" jhiTranslate="hcPortalApp.vsRespiratoryRate.home.createOrEditLabel">Create or edit a Vs Respiratory Rate</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!vsRespiratoryRate.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="vsRespiratoryRate.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcPortalApp.vsRespiratoryRate.userid" for="field_userid">Userid</label>
            <input type="text" class="form-control" name="userid" id="field_userid"
                [(ngModel)]="vsRespiratoryRate.userid" required/>
            <div [hidden]="!(editForm.controls.userid?.dirty && editForm.controls.userid?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.userid?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcPortalApp.vsRespiratoryRate.bpm" for="field_bpm">Bpm</label>
            <input type="number" class="form-control" name="bpm" id="field_bpm"
                [(ngModel)]="vsRespiratoryRate.bpm" required/>
            <div [hidden]="!(editForm.controls.bpm?.dirty && editForm.controls.bpm?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.bpm?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.bpm?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcPortalApp.vsRespiratoryRate.measurmentdate" for="field_measurmentdate">Measurmentdate</label>
            <div class="input-group">
                <input id="field_measurmentdate" type="text" class="form-control" name="measurmentdate" ngbDatepicker  #measurmentdateDp="ngbDatepicker" [(ngModel)]="vsRespiratoryRate.measurmentdate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="measurmentdateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.measurmentdate?.dirty && editForm.controls.measurmentdate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.measurmentdate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
