
<div *ngIf="diabetesSugarTest">
    <h2><span jhiTranslate="hcPortalApp.diabetesSugarTest.detail.title">Diabetes Sugar Test</span> {{diabetesSugarTest.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hcPortalApp.diabetesSugarTest.userid">Userid</span></dt>
        <dd>
            <span>{{diabetesSugarTest.userid}}</span>
        </dd>
        <dt><span jhiTranslate="hcPortalApp.diabetesSugarTest.result">Result</span></dt>
        <dd>
            <span>{{diabetesSugarTest.result}}</span>
        </dd>
        <dt><span jhiTranslate="hcPortalApp.diabetesSugarTest.measurmentdate">Measurmentdate</span></dt>
        <dd>
            <span>{{diabetesSugarTest.measurmentdate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'diabetes-sugar-test/'+ diabetesSugarTest.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
