<div>
    <h2>
        <span jhiTranslate="hcPortalApp.vsHeartRate.home.title">Vs Heart Rates</span>
        <button class="btn btn-primary float-right jh-create-entity create-vs-heart-rate" [routerLink]="['/', { outlets: { popup: ['vs-heart-rate-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="hcPortalApp.vsHeartRate.home.createLabel">
            Create new Vs Heart Rate
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="vsHeartRates">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="userid"><span jhiTranslate="hcPortalApp.vsHeartRate.userid">Userid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bpm"><span jhiTranslate="hcPortalApp.vsHeartRate.bpm">Bpm</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="measurmentdate"><span jhiTranslate="hcPortalApp.vsHeartRate.measurmentdate">Measurmentdate</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vsHeartRate of vsHeartRates ;trackBy: trackId">
                <td>{{vsHeartRate.userid}}</td>
                <td>{{vsHeartRate.bpm}}</td>
                <td>{{vsHeartRate.measurmentdate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../vs-heart-rate', vsHeartRate.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vs-heart-rate/'+ vsHeartRate.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vs-heart-rate/'+ vsHeartRate.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="vsHeartRates && vsHeartRates.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
