<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserDetailsLabel" jhiTranslate="hcPortalApp.userDetails.home.createOrEditLabel">Create or edit a User Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userDetails.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userDetails.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcPortalApp.userDetails.userid" for="field_userid">Userid</label>
            <input type="number" class="form-control" name="userid" id="field_userid"
                [(ngModel)]="userDetails.userid" required/>
            <div [hidden]="!(editForm.controls.userid?.dirty && editForm.controls.userid?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.userid?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.userid?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcPortalApp.userDetails.activationkey" for="field_activationkey">Activationkey</label>
            <input type="text" class="form-control" name="activationkey" id="field_activationkey"
                [(ngModel)]="userDetails.activationkey" maxlength="20"/>
            <div [hidden]="!(editForm.controls.activationkey?.dirty && editForm.controls.activationkey?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.activationkey?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcPortalApp.userDetails.resetkey" for="field_resetkey">Resetkey</label>
            <input type="text" class="form-control" name="resetkey" id="field_resetkey"
                [(ngModel)]="userDetails.resetkey" maxlength="20"/>
            <div [hidden]="!(editForm.controls.resetkey?.dirty && editForm.controls.resetkey?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.resetkey?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcPortalApp.userDetails.gender" for="field_gender">Gender</label>
            <select class="form-control" name="gender" [(ngModel)]="userDetails.gender" id="field_gender" >
                <option value="MALE">{{'hcPortalApp.Gender.MALE' | translate}}</option>
                <option value="FEMALE">{{'hcPortalApp.Gender.FEMALE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcPortalApp.userDetails.birthdate" for="field_birthdate">Birthdate</label>
            <div class="input-group">
                <input id="field_birthdate" type="text" class="form-control" name="birthdate" ngbDatepicker  #birthdateDp="ngbDatepicker" [(ngModel)]="userDetails.birthdate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="birthdateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcPortalApp.userDetails.ethnicity" for="field_ethnicity">Ethnicity</label>
            <select class="form-control" name="ethnicity" [(ngModel)]="userDetails.ethnicity" id="field_ethnicity" >
                <option value="EUROPEAN">{{'hcPortalApp.Ethnicity.EUROPEAN' | translate}}</option>
                <option value="MAORI">{{'hcPortalApp.Ethnicity.MAORI' | translate}}</option>
                <option value="PACIFIC_PEOPLES">{{'hcPortalApp.Ethnicity.PACIFIC_PEOPLES' | translate}}</option>
                <option value="ASIAN">{{'hcPortalApp.Ethnicity.ASIAN' | translate}}</option>
                <option value="MIDDLE_EASTERN">{{'hcPortalApp.Ethnicity.MIDDLE_EASTERN' | translate}}</option>
                <option value="LATIN_AMERICAN">{{'hcPortalApp.Ethnicity.LATIN_AMERICAN' | translate}}</option>
                <option value="AFRICAN">{{'hcPortalApp.Ethnicity.AFRICAN' | translate}}</option>
                <option value="OTHER_ETHNICITY">{{'hcPortalApp.Ethnicity.OTHER_ETHNICITY' | translate}}</option>
                <option value="RESIDUAL_CATEGORIES">{{'hcPortalApp.Ethnicity.RESIDUAL_CATEGORIES' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcPortalApp.userDetails.maritalStatus" for="field_maritalStatus">Marital Status</label>
            <input type="text" class="form-control" name="maritalStatus" id="field_maritalStatus"
                [(ngModel)]="userDetails.maritalStatus" maxlength="50"/>
            <div [hidden]="!(editForm.controls.maritalStatus?.dirty && editForm.controls.maritalStatus?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.maritalStatus?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcPortalApp.userDetails.isDoctor" for="field_isDoctor">Is Doctor</label>
            <input type="checkbox" class="form-control" name="isDoctor" id="field_isDoctor"
                [(ngModel)]="userDetails.isDoctor" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcPortalApp.userDetails.resetdate" for="field_resetdate">Resetdate</label>
            <div class="input-group">
                <input id="field_resetdate" type="text" class="form-control" name="resetdate" ngbDatepicker  #resetdateDp="ngbDatepicker" [(ngModel)]="userDetails.resetdate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="resetdateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
