
<div *ngIf="userDetails">
    <h2><span jhiTranslate="hcPortalApp.userDetails.detail.title">User Details</span> {{userDetails.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hcPortalApp.userDetails.userid">Userid</span></dt>
        <dd>
            <span>{{userDetails.userid}}</span>
        </dd>
        <dt><span jhiTranslate="hcPortalApp.userDetails.activationkey">Activationkey</span></dt>
        <dd>
            <span>{{userDetails.activationkey}}</span>
        </dd>
        <dt><span jhiTranslate="hcPortalApp.userDetails.resetkey">Resetkey</span></dt>
        <dd>
            <span>{{userDetails.resetkey}}</span>
        </dd>
        <dt><span jhiTranslate="hcPortalApp.userDetails.gender">Gender</span></dt>
        <dd>
            <span jhiTranslate="{{'hcPortalApp.Gender.' + userDetails.gender}}">{{userDetails.gender}}</span>
        </dd>
        <dt><span jhiTranslate="hcPortalApp.userDetails.birthdate">Birthdate</span></dt>
        <dd>
            <span>{{userDetails.birthdate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="hcPortalApp.userDetails.ethnicity">Ethnicity</span></dt>
        <dd>
            <span jhiTranslate="{{'hcPortalApp.Ethnicity.' + userDetails.ethnicity}}">{{userDetails.ethnicity}}</span>
        </dd>
        <dt><span jhiTranslate="hcPortalApp.userDetails.maritalStatus">Marital Status</span></dt>
        <dd>
            <span>{{userDetails.maritalStatus}}</span>
        </dd>
        <dt><span jhiTranslate="hcPortalApp.userDetails.isDoctor">Is Doctor</span></dt>
        <dd>
            <span>{{userDetails.isDoctor}}</span>
        </dd>
        <dt><span jhiTranslate="hcPortalApp.userDetails.resetdate">Resetdate</span></dt>
        <dd>
            <span>{{userDetails.resetdate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-details/'+ userDetails.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
