
<div *ngIf="vsSpo2">
    <h2><span jhiTranslate="hcPortalApp.vsSpo2.detail.title">Vs Spo 2</span> {{vsSpo2.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hcPortalApp.vsSpo2.userid">Userid</span></dt>
        <dd>
            <span>{{vsSpo2.userid}}</span>
        </dd>
        <dt><span jhiTranslate="hcPortalApp.vsSpo2.percent">Percent</span></dt>
        <dd>
            <span>{{vsSpo2.percent}}</span>
        </dd>
        <dt><span jhiTranslate="hcPortalApp.vsSpo2.measurmentdate">Measurmentdate</span></dt>
        <dd>
            <span>{{vsSpo2.measurmentdate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'vs-spo-2/'+ vsSpo2.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
